<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Парсер hh</title>
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
<!--                <span class="site-heading-upper text-primary mb-3">Главная страница</span>-->
<!--                <span class="site-heading-lower">Парсер hh</span>-->
                <span class="site-heading-upper text-primary">Парсер hh</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
                <div class="container">
                    <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="index.html">Главная</a></li>
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="form.html">Поиск</a></li>
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="contacts.html">Контакты</a></li>
<!--                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="store.html">Store</a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>
<!--<section class="page-section cta">-->
            <section class="page-section cta">
            <div class="container">
                <div class="row">
<!--                    <div class="col-xl-9 mx-auto">-->
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
<!--                                <span class="section-heading-upper">Информация о парсере</span>-->
                                <span class="section-heading-lower">Информация о парсере</span>
                            </h2>
                            <p class="mb-0">Поиск по вакасиям по ключевым словам. Сбор статистики по требуемым ключевым навыкам('key_skills'), сколько раз встречается в обработанных найденных вакансиях тот или иной навык. Процент количества каждого требования относительно всех требований. Сбор статистики по зарплате(пока только 'RUR' рубли) - среднее от нижней и верхней границы зарплаты, если указаны(вакансии в которых не указаны не входят в подсчет среднего). Сохранение в формате json. Если делается повторный поиск, то результат дополняется в общий json файл.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>